:root{
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-sm-md: 0.75rem;
    --spacing-md: 1rem;
    --spacing-md-lg: 1.5rem;
    --spacing-lg: 2rem;
    --spacing-xl: 3rem;

    --primary-color-red: hsl(5, 85%, 63%);
    --primary-color-orange: hsl(35, 77%, 62%);

    --neutral-color-white: hsl(36, 100%, 99%);
    --neutral-color-gray: hsl(233, 8%, 79%);
    --neutral-color-dark-gray: hsl(236, 13%, 42%);
    --neutral-color-black: hsl(240, 100%, 5%);

    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-heavy: 800;


}

body{
    background-color: var(--neutral-color-white);
    min-height: 100vh;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    margin: 0;
    line-height: 1.5;
}

.page{
  width: min(1100px, 100%);
  margin: auto;
  padding: var(--spacing-md);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-lg) 0 var(--spacing-md) 0;
}

.open-menu{
    background: none;
    border: 0;
    cursor: pointer;
}

.nav-drawer{
    position: fixed;
    background-color: var(--neutral-color-white);
    width: 70%;
    top: 0;
    right: 0;
    bottom: 0;
}

.nav-overlay{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
        width: 30%;
        top: 0;
        left: 0;
        bottom: 0;
}

body.menu-open .nav-drawer, body.menu-open .nav-overlay, body.menu-open .close-menu{
  display: block;
}

.nav-drawer, .nav-overlay, .close-menu{
    display: none;
}

.close-menu{
    position: absolute;
    right: 0;
    background: none;
    border: 0;
    cursor: pointer;
    padding-top: var(--spacing-md);
    padding-right: var(--spacing-md);
}

.menu{
    display: none;
}

a{
    text-decoration: none;
}

.menu a{
    color: var(--neutral-color-dark-gray);
}

.menu a:hover{
    color: var(--primary-color-red);
}

body.menu-open .nav-drawer .menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--spacing-md);
    padding-top: 8rem;
    padding-left: var(--spacing-md);
}

.nav-drawer .menu a{
    color: var(--neutral-color-black);
    font-size: 1.25rem;
}

.nav-drawer .menu a:hover{
    color: var(--primary-color-red);
}

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "main" 
    "side" 
    "bottom";
    gap: var(--spacing-lg);
    margin-top: var(--spacing-md);
}

.main-news{
    grid-area: main;
}

h1{
    font-size: 2.5rem;
    margin: 0;
    padding: var(--spacing-md-lg) var(--spacing-xl) var(--spacing-md) 0;
    line-height: 1.05;
}

.main-article-card{
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-md);
}

.main-article-card > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--spacing-md);
    padding: var(--spacing-md-lg) 0 0 0;
}

.main-article-card p{
    padding: 0;
    margin: 0;
    color: var(--neutral-color-dark-gray);
}

.bottom-news{
    grid-area: bottom;
}

.bottom-news a{
    color: var(--neutral-color-black);
}

.side-news{
    align-self: stretch;
    display: flex;
    flex-direction: column;
    grid-area: side;
    background-color: var(--neutral-color-black);
    color: var(--neutral-color-white);
    padding: var(--spacing-md);
    gap: var(--spacing-sm);
}

h2{
    font-size: 2rem;
    margin: 0;
    color: var(--primary-color-orange);
}

h3{
   margin: 0;
}

.side-news a{
    color: var(--neutral-color-gray);
}

.side-news a:hover{
    color: var(--primary-color-orange);
}

.side-news p{
    color: var(--neutral-color-gray);
    margin: 0;
    line-height: 1.7;
}

.side-news hr{
    border: 0;
    border-top: 1px solid var(--neutral-color-dark-gray);
    margin: 1.25rem 0;
}

.main-news button{
    background-color: var(--primary-color-red);
    border: 0;
    padding: var(--spacing-sm-md) var(--spacing-lg);
    font-weight: var(--font-weight-heavy);
    align-self: flex-start;
    letter-spacing: 0.1em;
    cursor: pointer;
}

.main-news button:hover{
    background-color: hsl(240, 100%, 5%);
    color: var(--neutral-color-gray);
}

.news-list {
    list-style: none;
    padding: 0;
    margin: 0;
    counter-reset: news;

    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-md);
}

.news-list li {
    counter-increment: news;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--spacing-md);
}

.news-card{
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: var(--spacing-md);
}

.news-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-text h3{
    margin: 0;
    font-size: 1.1rem;
}

.news-text a:hover{
    color: var(--primary-color-red);
}

.news-text p{
    margin: 0;
    color: var(--neutral-color-dark-gray);
}

.news-text::before{
    content: "0" counter(news);
    display: block;
    font-size: var(--spacing-lg);
    font-weight: var(--font-weight-bold);
    color: var(--primary-color-red);
}

img{
    max-width: 100%;
    display: block;
}

.main-news img{
    height: auto;
}

footer{
    margin-top: auto;
}

@media (min-width: 768px){
    main{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
        "main side" 
        "bottom bottom";
        gap: var(--spacing-lg);
        row-gap: var(--spacing-xl);
        margin-top: var(--spacing-md);
    }

    .main-article-card{
        grid-template-columns: 1fr 1fr;
    }

    .menu{
        display: flex;
        align-self: flex-end;
        gap: var(--spacing-xl);
    }

    .open-menu, .nav-drawer , .nav-overlay, .close-menu{
        display: none;
    }

    .news-list{
        grid-template-columns: repeat(3, 1fr);
    }

    h1{
        font-size: 3rem;
        padding: var(--spacing-md-lg) var(--spacing-xl) var(--spacing-md) 0;
    }
}